.bottum{
  margin-top:110px;
  margin-left: 50px;
}
.logo{
  margin-left: 40px;
}
.image2{
  height:800px;
  width: 800px;
}
.image{
  height: auto;
  width: auto;
}
@media (max-width: 600px) {
  .bottum{
      margin-top: 90px;
      margin-left: auto;
  }  
  .image2{
      margin-top: 10px;
      margin-left: 50px;
      height: 300px;
      width: auto;
    }
    .image{
      margin-top: 10px;
      margin-left: 70px;
      height: 300px;
      width: auto;
    }
}